@media screen and (min-width: 480px) {
    
    .container{
        max-width: 428px;
    }
    
        .modal {
            width: 392px;
            padding: 52px 24px 24px 24px;
        }
                .sub-form-field-input{
                    width: 396px;
                }
            }
   
    

                                
    